<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database</title>
  </head>
  <body>
    <p><a href="/dashboard/create">tambah data</a></p>
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <th>No.</th>
        <th>ID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Update</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% User.forEach(i => { %>
        <tr>
          <th scope="row"><%= i.id %></th>
          <td><%= i.email %></td>
          <td><%= i.password %></td>
          <td><%= i.User_Profiles.age %></td>
          <td><%= i.User_Profiles.gender %></td>
          <td><a href="/user/dashboard/updateUser/<%= i.id %>" class="btn btn-primary">Update</a></td>
          <td><a href="/user/dashboard/delUser/<%= i.id %>" class="btn btn-danger">Delete</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
