<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Data</title>
  </head>
  <body>
    <form action="/dashboard/update/<%= data.id %>" method="post">
      <table>
        <tr>
          <td><label for="Email">Email</label></td>
          <td>:</td>
          <td><input type="text" name="Email" value="<%=data.email %>" /></td>
        </tr>
        <tr>
          <td><label for="Password">Password</label></td>
          <td>:</td>
          <td><input type="text" name="Password" value="<%=data.password %>" /></td>
        </tr>
        <tr>
          <td><label for="Age">Age</label></td>
          <td>:</td>
          <td><input type="text" name="Age" value="<%=data.age %>" /></td>
        </tr>
        <tr>
          <td><label for="Gender">Gender</label></td>
          <td>:</td>
          <td><input type="text" name="Gender" value="<%=data.gender %>" /></td>
        </tr>
      </table>
      <br />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
